<agm-marker [latitude]="car.Latitude" [longitude]="car.Longitude" (mouseOver)="onMouseOver(infoWindow,gm)"
  (mouseOut)="onMouseLeave(infoWindow)" (markerClick)="onMouseClick()">
  <agm-info-window #infoWindow (infoWindowClose)="closeInfoWindow()">
    <div class="car-marker">
      <h3>{{car.CarNumber}}</h3>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2" rowHeight="17">
        <mat-grid-tile *ngFor="let tile of tiles" class="tile.class">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </agm-info-window>
</agm-marker>