.marker-button{
    text-align:center;
}

.car-marker{
    padding: 4px 4px 4px 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 330px;
    text-align: center;
    background-color: rgba(210, 210, 210, 0.6);
}

.car-marker > p{
    margin-bottom : 8px;
    margin-top: 13px;
}
.car-marker > h5{
    margin-bottom : 5px;
    margin-top: 5px;
}
.grid-left{
    width: 40px;
}
.grid-right{
    width: 80px;
}