<div mat-dialog-content>
  <mat-card-title style="width:100%;">
    <h5>
      {{car.CarNumber}} 이동금지 설정
    </h5>
    <button mat-button class="dialog-close-icon" (click)="close()">
      <i class="fa fa-times"></i>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form class="password-form" [formGroup]="passwordForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="비밀번호" formControlName="password" type="password">
        <mat-hint>비밀번호 12345</mat-hint>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="changeState()" class="change-button">{{car.ForbidMove?'해제하기':'설정하기'}}</button>
  </mat-card-content>
</div>