<div mat-dialog-content>
  <mat-card>
    <mat-card-title style="width:100%">
      <h5>
        차량 영상 재생
      </h5>
      <button mat-button class="dialog-close-icon" (click)="close()">
        <i class="fa fa-times"></i>
      </button>
    </mat-card-title>
    <mat-card-content>
      <p>{{ url }}</p>
      <div class="movie-area">
        <video width="640" height="360" controls>
          <source src="assets/{{url}}" type="video/mp4">
        </video>
      </div>
    </mat-card-content>
  </mat-card>
</div>