<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="sideMenu-container">
	<mat-sidenav class="left-container" #sidenav (keydown.escape)="close('escape')">
		<app-leftsidemenu (toggleSide)="sidenav.toggle()">
		</app-leftsidemenu>
	</mat-sidenav>
	<mat-sidenav-content>
		<button class="left-side-toggle" type="button" mat-button (click)="sidenav.toggle()">
			메뉴열기
		</button>
		<app-googlemap></app-googlemap>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>