.nav{
    height: 80%;
}

.left-header{
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 13px;
}

.mat-card-title{
    font-size: 15px;
    left : 13px;
}
.login-div{
    background-color: ivory;
}

.login-form{
    margin-left: 9px;
    margin-right: 9px;
}

.login-button{
    margin-top: 11px;
    margin-right: 9px;
    float: right;
    background-color: Lavender;
}

.input-full-width{
    width: 100%;
}
.login-label{
    height: 44px;
    margin-bottom: 11px;
}

.welcome-label{
    height: 50px;
    font-size: 17px;
}

.left-side-toggle{
    position: absolute;
    top:7px; right: 10px;
    background-color: aliceblue;
    float: right;
}

.accordion {
    padding: 0px 0px 0px 15px;
    margin: auto;  
    border-radius: 4px;
    background-color: rgb(250, 225, 192);
}

.accordion .menu{
    width: 100%;
    padding-left: -10px;
}

.accordion li i {
    color: #595959;
    transition: all 0.4s ease;
}
.accordion li a {
    transition: all 0.4s ease;
    width: 100%;
}
.accordion .menu button{
    text-align: left;
    width: 100%;
}
.accordion li.active i.fa-angle-right {
    transform: rotate(90deg);
}
.submenu li.active a {
    transform: translateX(30px);
}
.submenu li.active i {
    transform: rotate(180deg);
}

.mat-form-field-wrapper {
    padding-bottom: 12px;
}

.submenu {
    height: 0;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: rgb(245, 236, 199);
    font-size: 14px;
    transition: height 0.4s ease;
}

.logout-button{
    margin-top: 17px;
    margin-right: 9px;
    float: right;
    background-color: Lavender;
}