.map-frame {
  display: block;
  overflow:auto;
  min-height:100%;
}

agm-map {
  height: 100vh;
  min-height:100vh;
  overflow:auto;
}

.background{
  background-color: aqua;
  min-height:100vh;
  max-height:100vh;
}
